<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/user.css">
    <link rel="shortcut icon" href="fev.ico" type="image/x-icon">

    <style>
        .col-form-label {
            font-size: medium;
            padding-top: 5px;
        }
        
        textarea {
            resize: none;
        }
        
        .form-control-static {
            font-size: medium;
        }
        
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
        
        input[type=number] {
            -moz-appearance: textfield;
        }
        
        .b {
            padding: 10px;
            padding-top: 20px;
            margin: 5px;
            color: white;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }
        
        .b:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }
        
        .row .glyphicon {
            font-size: 60px;
            padding: 10px;
        }
        
        .foot {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 10px;
            color: white;
            text-align: center;
            font-size: 14px;
            background-color: #333333;
            font-weight: normal;
        }
        
        element.style {
            display: block;
            width: 1048px;
            height: 524px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="/admindashboard">Admin</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li id=1 role="presentation"><a href="/managecustomers">Manage Consumers</a></li>
                    <li id=2 role="presentation"><a href="/manageorders">Check Orders</a></li>
                    <li id=1 role="presentation"><a href="/update">Update Price  &amp; Stock</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><i class="glyphicon glyphicon-user"></i> Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="/logout"> <span class="glyphicon glyphicon-log-out"></span> Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Admin-Dashboard</h2>
            </div>
            <div class="panel-body">
                <div class="row" style="padding:10px">
                    <div class="col-sm-4">
                        <div class="b row" style="background:#00b8d4">
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <div class="col-md-8">
                                <h4><strong>Total Consumers</strong></h4>
                                <h3>
                                    <%=total%>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="b row" style="background:#00c853">
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-user"></span>
                            </div>
                            <div class="col-md-8">
                                <h4><strong>Pending Orders</strong></h4>
                                <h3>
                                    <%=pending%>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="b row" style="background:#455a64">
                            <div class="col-md-4">
                                <span class="glyphicon glyphicon-list-alt"></span>
                            </div>
                            <div class="col-md-8">
                                <h4><strong>Stock</strong></h4>
                                <h3>
                                    <%=stock%>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- order chart -->
                <!-- MDB core JavaScript -->

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>

                <div class="row" style="padding:30px">
                    <div class="col-sm-12" style="box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
                        <h3 style="text-align:center">Orders statistics</h3>
                        <canvas id="doughnutChart" style="
						font-size: 15px;
						line-height: 1.4;
						color: #222222;
						box-sizing: border-box;
						animation: chartjs-render-animation 0.001s;
						display: block;
						width: 1048px;
						height: 524px;
						"></canvas>
                    </div>
                </div>
                <script>
                    //doughnut
                    var ctxD = document.getElementById("doughnutChart").getContext("2d");
                    var myLineChart = new Chart(ctxD, {
                        type: "doughnut",
                        data: {
                            labels: ["Pending", "Out for Delivery", "Delivered"],
                            datasets: [{
                                data: ["<%=pending%>", "<%=out_for_delivery%>", "<%=delivered%>"],
                                backgroundColor: ["#F7464A", "#FDB45C", "#949FB1"],
                                hoverBackgroundColor: ["#FF5A5E", "#FFC870", "#A8B3C5"]
                            }]
                        },
                        options: {
                            responsive: true
                        }
                    });
                </script>

            </div>
        </div>
    </div>
    <footer class="site-footer foot">Copyright &copy;2020</footer>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>